#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Appointments CSS*/

.appointments {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
}

table {
  overflow: scroll;
}
