#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*Appointments CSS*/

.appointments {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
}

h6 {
  font-size: 12px;
}
